--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
python-dotenv
supabase
groq
pypdf
sentence-transformers
torch==2.14.1+cpu
requests
apscheduler
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-multipart